apiVersion: apps/v1
kind: Deployment
metadata:
  name: blood-donation-backend
  labels:
    app: blood-donation-backend
    project: "2401021"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blood-donation-backend
  template:
    metadata:
      labels:
        app: blood-donation-backend
    spec:
      containers:
      - name: backend
        image: blood-donation-backend:latest  # This gets replaced by Jenkins
        ports:
        - containerPort: 5000  # Backend port
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "5000"
        - name: CLIENT_URL
          value: "http://blood-donation-frontend:3000"