apiVersion: apps/v1
kind: Deployment
metadata:
  name: blood-donation-backend
  namespace: 2401021
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blood-donation-backend
  template:
    metadata:
      labels:
        app: blood-donation-backend
    spec:
      imagePullSecrets:
        - name: nexus-secret
      containers:
        - name: backend
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/blood-app/blood-donation-app-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              value: mongodb://admin:admin123@mongo-service:27017/blooddonation
            - name: JWT_SECRET
              value: mysecretkey
            - name: PORT
              value: "5000"

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: blood-donation-backend-service
  namespace: 2401021
spec:
  selector:
    app: blood-donation-backend
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
